

<div class="h-40vh w-full">
  <div class="flex justify-center items-center pt-20">
    <h1 class="text-white font-extrabold text-6xl">Mi amada Ananá</h1>
  </div>
  <div class="flex justify-center items-center p-10">
    <h2 class="text-white font-bold text-2xl ">
      Sigamos acumulando momentos
    </h2>
  </div>
</div>

<div class="p-5 md:p-10">
  <div class="columns-1 gap-5 lg:gap-8 sm:columns-2 lg:columns-3 xl:columns-4 [&>img:not(:first-child)]:mt-5 lg:[&>img:not(:first-child)]:mt-8 ">
    <img src="./F&A Photos/1.jpg" alt="" class="rounded-xl">
    <img src="./F&A Photos/2.jpg" alt="" class="rounded-xl">
    <img src="./F&A Photos/3.jpg" alt="" class="rounded-xl">
    <img src="./F&A Photos/4.jpg" alt="" class="rounded-xl">
    <img src="./F&A Photos/5.jpg" alt="" class="rounded-xl">
    <img src="./F&A Photos/6.jpg" alt="" class="rounded-xl">
    <img src="./F&A Photos/7.jpg" alt="" class="rounded-xl">
    <img src="./F&A Photos/8.jpg" alt="" class="rounded-xl">
    <img src="./F&A Photos/9.jpg" alt="" class="rounded-xl">
    <img src="./F&A Photos/10.jpg" alt="" class="rounded-xl">
    <img src="./F&A Photos/11.jpg" alt="" class="rounded-xl">
  </div>
</div>